<table class="table">
    <thead>
        <tr>
            <th class="col-md-3">Nombre</th>
            <th class="col-md-4">Ingredientes</th>
            <th class="col-md-1">Precio</th>
            <th class="col-md-2 alignImg">Imagen</th>
            <th class="col-md-2"></th>
        </tr>
    </thead>
    <tbody>
    <tr id="Comida{{comida.id}}">
        <form id="addForm" data-origin="{{origin}}" method="post"></form>
            <td class="col-md-3 nopadding"><input form="addForm" class="form-control" type="text" name="addNombre" placeholder="Nombre" autofocus required></td>
            <td class="col-md-4 nopadding"><input form="addForm" class="form-control" type="text" name="addIngredientes" placeholder="Ingredientes"></td>
            <td class="col-md-1 nopadding"><input form="addForm" class="form-control" type="number" min="1" step="any" name="addPrecio" placeholder="Precio"></td>
            <td class="col-md-2 nopadding alignImg"><label class="btn btn-default" for="addImagen">Examinar<input form="addForm" type="file" name="addImagen" accept="image/*"></label></td>
            <td class="col-md-2"><input form="addForm" class="btn btn-primary" type="submit" name="addSubmit" value="Añadir"></td>
        
    </tr>
    {% for comida in comida %}
        {% if updateId is defined and updateId == comida.id %}
            <tr id="Comida{{comida.id}}">
                <form id="updateForm" data-origin="{{origin}}">
                    <td class="col-md-3 nopadding"><input form="updateForm" class="form-control" name="updateNombre" type="text" placeholder="{{ comida.nombre}}"></td>
                    <td class="col-md-4 nopadding"><input form="updateForm" name="updateIngredientes" class="form-control" type="text" placeholder="{{ comida.ingredientes }}"></td>
                    <td class="col-md-1 nopadding"><input form="updateForm" name="updatePrecio" class="form-control" type="number" min="1" step="any" placeholder="{{ comida.precio }}"></td>
                    <td class="col-md-2 nopadding alignImg"><label class="btn btn-default" for="updateImagen">Examinar<input form="updateForm" name="updateImagen" type="file" accept="image/*"></label></td>
                    <td class="col-md-2">
                        <input form="updateForm" type="hidden" name="defaultImg" value="{{ comida.imgDir }}">
                        <input form="updateForm" type="hidden" name="updateId" value="{{ comida.id }}">
                        <input form="updateForm" class="btn btn-primary" type="submit" name="updateComida" value="Modificar">    
                        <button class="cancelar btn btn-warning" data-origin="{{origin}}">Cancelar</button>
                    </td>
                </form>
            </tr>
        {% else %}
            <tr id="Comida{{comida.id}}"> 
                <td class="col-md-3">{{ comida.nombre }}</td>
                <td class="col-md-4">{{ comida.ingredientes }}</td>
                <td class="col-md-1">{{ comida.precio }} €</td>
                <td class="col-md-2 alignImg"><img class="miniImg" src="{{ comida.imgDir }}"></td>
                <td class="col-md-2">
                   <button class="btn btn-primary modificar" data-origin="{{ origin }}" data-id="{{ comida.id }}">Modificar</button>
                   <button class="btn btn-danger borrar" data-origin="{{ origin }}" data-id="{{ comida.id }}">Borrar</button>
                </td>
            </tr>
        {% endif %}
    {% endfor %}
    </tbody>
</table>
<div class="contenedorPaginas">
    <div class="paginas">
        {% if paginaPrimera is defined %}<a class="pagina" data-origin="{{origin}}" data-pagina="{{paginaPrimera}}">Primera</a>{% endif %} 
        {% if paginaAnterior is defined %}<a class="pagina" data-origin="{{origin}}" data-pagina="{{paginaAnterior}}">{{ paginaAnterior + 1 }}</a>{% endif %}
        {{ paginaActual + 1 }}
        {% if paginaSiguiente is defined %}<a class="pagina" data-origin="{{origin}}" data-pagina="{{paginaSiguiente}}">{{ paginaSiguiente + 1 }}</a>{% endif %}
        {% if paginaUltima is defined %}<a class="pagina" data-origin="{{origin}}" data-pagina="{{paginaUltima}}">Ultima</a>{% endif %}
    </div>
</div>