<div class="tools">
    <div class="inline">
        <form class="form-inline" action="../Controller/{{origin}}.php" method="post">
            <input id="inputBuscador" class="form-control" data-origin="{{origin}}" type="text" name="filtroValor" placeholder="Buscar">
            <input type="hidden" name="filtro" value="nombre">
            {% if origin == "Comida" %}
            <input type="hidden" name="filtro2" value="ingredientes">
            {% endif %}
            <input class="btn btn-default" type="submit" value="Buscar">
        </form>
    </div>
    <div class="inline pull-right">
        <form class="form-inline orderForm" action="../Controller/{{origin}}.php" method="post">
            Por: 
            <select class="form-control orderSelect" name="orden" data-origin="{{origin}}">
                <option value="nombre" selected>Nombre</option>
                <option value="precio">Precio</option>
            </select>
            orden: 
            <select class="form-control orderSelect" name="dir" data-origin="{{origin}}">
                <option value="asc" selected>Ascendente</option>
                <option value="desc">Descendente</option>
            </select>
            {% if filtroValor is defined %}
            <input type="hidden" name="filtro" value="nombre">
            <input type="hidden" name="filtroValor" value="{{ filtroValor }}">
            {% if origin == "Comida" %}
            <input type="hidden" name="filtro2" value="ingredientes">
            {% endif %}
            {% endif %}
            <input class="btn btn-default orderSelect" type="submit" value=">">
        </form>
    </div>
</div>
<div id="error" class="alert alert-danger">Se ha producido un error al añadir el registro.</div>
<div id="success" class="alert alert-success">¡La operacion se ha completado con exito!</div>