{% extends 'base.html.twig' %}
{% block contenido %}
<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th class="col-md-3">Nombre</th>
                <th class="col-md-5">Ingredientes</th>
                <th class="col-md-2">Precio</th>
                <th class="col-md-2"></th>
            </tr>
        <thead>
        <tbody>
        <tr><form action="../Controller/addComida.php" method="post">
                <td class="col-md-3 nopadding"><input class="form-control" type="text" name="addNombre" placeholder="Nombre" autofocus></td>
                <td class="col-md-5 nopadding"><input class="form-control" type="text" name="addIngredientes" placeholder="Ingredientes"></td>
                <td class="col-md-2 nopadding"><input class="form-control" type="text" name="addPrecio" placeholder="Precio"></td>
                <td class="col-md-2"><input class="btn btn-primary" type="submit" name="addSubmit" value="Añadir"></td>
            </form>
        </tr>
        
        {% for comida in comida %}
        <tr> 
            <td class="col-md-3">{{ comida.nombre }}</td>
            <td class="col-md-5">{{ comida.ingredientes }}</td>
            <td class="col-md-2">{{ comida.precio }}€</td>
            <td class="col-md-2">
                <form class="inline" action="../Controller/comida.php" method="post">
                    <input class="btn btn-primary" type="submit" name="updateSubmit" value="Modificar">
                    <input type="hidden" name="updateId" value="{{ comida.id }}">
                </form>
                <form class="inline" action="../Controller/deleteComida.php" method="post">
                    <input class="btn btn-danger" type="submit" name="deleteSubmit" value="Borrar">
                    <input type="hidden" name="deleteId" value="{{ comida.id }}">
                </form>
            </td>
        </tr>
        {% endfor %}
        <tbody>
    </table>
</div>
{% endblock contenido%}